.DS_Store
._.TemporaryItems
.TemporaryItems
.ssh
.selected_editor
.profile
.selected_editor
.profile
.npm
.node-gyp
.bashrc
.bash_logout
.bash_history

fp-info-cache
LightHat-rescue.dcm
LightHat-rescue.lib
garagedoor-rescue.dcm
garagedoor-rescue.lib
sym-lib-table
gerber
SDimage/
**/Gate\ Controller-backups/*
\#auto_saved_files\#  
_autosave*
node_modules/
dist/

